# Fichiers sensibles
.env

# Cache Python
__pycache__/
*.pyc
*.pyo

# Dossiers alertes
alertes*/
alertes*

# Logs
log/
*.log

# #  tests
# rename_tests/
# scrap_tests/

# Sauvegardes
sauvegarde_alertes/

# Fichiers temporaires
*.tmp
*.csv

# Debug
debug.py
lignes_filtrees.csv




